<%= turbo_frame_tag daily_forecast do %>
   <li class="collection-item avatar day-collection-item">
    <div>
      <i class="circle"><%=daily_forecast.format_time%></i>
      <h5>High: <%=daily_forecast.maxtemp.to_f.round%> / Low: <%=daily_forecast.mintemp.to_f.round%> - <%=daily_forecast.status%></h5>
      <a href="#!" class="secondary-content"><i><img src="<%= image_path(daily_forecast.status_img_path) %>" /></i></a>
    </div>
  </li>
<%end %>